site_name: Fetpype 

theme:
  name: material
  logo: media/fetpype_logo.png  # Path to your logo file
  favicon: media/fetpype_favicon.png  # Path to your favicon file

extra_css:
  - css/home.css
  
plugins:
- mkdocstrings:
    enabled: !ENV [ENABLE_MKDOCSTRINGS, true]
    default_handler: python
    handlers:
      python:
        options:
          show_source: true
          show_root_heading: true
          show_root_full_path: false
          members_order: source
          relative_crossrefs: true
- search
- autorefs
- awesome-pages
- bibtex:
      bib_file: "docs/biblio.bib"

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - footnotes


  
